<div class="container" id="perguntasFreq">
    <h2 class="fontTituloPerg">Perguntas Frequentes</h2>
    <input type="hidden" name="resource" id="resource" value="/portal_ipt/opencms/system/modules/br.com.squadra.principal/resources/" />
    <div class="row">
        <div class="pull-left col-md-6">
            <ul class="assunto bold list-unstyled">
                <li> <a href="#eixo1" title="1 - Internet Para Todos"> Internet Para Todos </a> </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="compartilhar col-md-6 pull-right">
                <ul class="list-unstyled pd-0 inline-list float-right">
                    <li>
                        <a class="glyphicon glyphicon-envelope" href="#" title="Enviar por E-mail" data-toggle="modal" data-target="#enviarEmail"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
                        <input type="hidden" id="caminhoModal" name="caminhoModal" value="/portal_ipt/opencms/system/modules/br.com.squadra.texto.geral/elements/enviaTextoGeral.jsp" /> </li>
                    <li> <a href="" onclick="PrintElem('perguntasFreq')" title="Imprimir" class="glyphicon glyphicon-print"><i class="fa fa-print" aria-hidden="true"></i> </a> </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="mt-3 text-uppercase bold">Assunto</p>
    <p class="mt-3" id="fontConfigPerguntas">Internet Para Todos</p>
    <ul class="ac_white list-unstyled pd-0">
        <li> <b id="TituloPerguntas">1 - Quantas localidades devem ser atendidas?</b>
            <div>
                <p id="fontConfigPerguntas" style="text-align: justify;">Inicialmente, a previsão é que o programa possa beneficiar cerca de 30 mil localidades, situadas em municípios de todas as regiões do Brasil. Essa relação inicial de localidades que podem ser contempladas faz parte da lista do Plano Geral de Metas de Universalização (PGMU), que aponta onde atualmente só existe telefones públicos ou baixa penetração de serviços. Esse número, no entanto, poderá ser modificado a partir da indicação de outras localidades pelos municípios que fizerem a adesão ao programa. Também depende da capacidade de atendimento das empresas credenciadas.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">2 - Quando o programa começa a levar conectividade para essas localidades?</b>
            <div>
                <p id="fontConfigPerguntas">A expectativa é de que os primeiros acordos entre municípios e empresas sejam firmados no primeiro semestre de 2018.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">3 - Qual será a participação da Telebrás no Internet para Todos?</b>
            <div>
                <p id="fontConfigPerguntas" style="text-align: justify;">A Telebrás é uma das parcerias do programa. Poderá prover conexão para as localidades onde não houver nenhuma empresa interessada e, nesse caso, deverá atuar com provedores de serviços de acesso à internet para atendimento à população da localidade.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">4 - Qual será a contrapartida dos municípios?</b>
            <div>
                <p id="fontConfigPerguntas" style="text-align: justify;">Além de garantir a isenção do ISS para as empresas prestadoras do serviço, o município deverá selecionar um espaço na localidade indicada para a instalação de uma antena pela empresa de internet credenciada para prestar o serviço. A prefeitura deverá garantir a segurança desse equipamento e também arcar com as despesas de energia elétrica que essa antena vai consumir.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">5 - Qual o prazo para a adesão de novos municípios e empresas?</b>
            <div>
                <p id="fontConfigPerguntas">Não existe prazo determinado para a participação de municípios e de empresas no programa.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">6 - Qual empresa pode se credenciar?</b>
            <div>
                <p id="fontConfigPerguntas" style="text-align: justify;">Qualquer empresa prestadora de serviço de telecomunicações poderá se credenciar junto ao MCTIC para oferecer o serviço, incluindo grandes empresas e provedores locais. No pedido de credenciamento no ministério, as empresas vão apontar os municípios em que têm interesse e o tipo de serviço que vão oferecer.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">7 - Qual é o objetivo do programa Internet para Todos?</b>
            <div>
                <p id="fontConfigPerguntas" style="font-weight: 400; text-align: justify;">O programa Internet para Todos tem por objetivo garantir a disponibilidade do serviço de acesso à internet para populações que vivem em localidades de municípios brasileiros onde não existe a oferta do serviço de banda larga ou onde a prestação é inadequada.</p>
                <p id="fontConfigPerguntas" style="font-weight: 400; text-align: justify;">O Internet para Todos é uma ampliação do programa GESAC (Governo Eletrônico – Serviço de Atendimento ao Cidadão), responsável por conectar à internet escolas, hospitais, postos de saúde, aldeias indígenas, postos de fronteira e quilombos, em áreas remotas que não têm outro meio de serem inseridas no mundo das tecnologias da informação e comunicação.&nbsp;&nbsp;Nesses casos, o serviço de conexão à internet foi contratado pelo governo federal para essas instituições e pontos. Já no Internet para Todos, a conexão à internet&nbsp;&nbsp;será levada até as localidades, mas quem vai contratar e pagar pelo serviço será o cidadão que vive nesses locais.</p>
            </div>
        </li>
        <br>
        <br>
        <li> <b id="TituloPerguntas">8 - O que é uma localidade?</b>
            <div>
                <p id="fontConfigPerguntas" style="text-align: justify;">Localidade é toda parcela circunscrita do território nacional que possua um aglomerado de habitantes caracterizado pela existência de domicílios permanentes e adjacentes em até 50 metros, formando uma área continuamente construída com arruamento reconhecível ou disposta a uma via de comunicação.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">9 - Existe um número definido de municípios que poderão aderir ao programa?</b>
            <div>
                <p id="fontConfigPerguntas" style="font-weight: 400; text-align: justify;">Não existe uma seleção de municípios. Todos os municípios que tiverem interesse podem aderir ao programa.</p>
                <p id="fontConfigPerguntas" style="font-weight: 400; text-align: justify;">Os termos de adesão dos municípios ao Internet para Todos serão encaminhados para as empresas de telecomunicações credenciadas. Com base nas informações descritas no termo de adesão, as empresas vão procurar os municípios para implantar a infraestrutura de oferta do serviço de internet.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">10 - É de graça?</b>
            <div>
                <p id="fontConfigPerguntas" style="text-align: justify;">Não. O programa Internet para Todos vai oferecer conexão em banda larga a preços acessíveis, com o objetivo de democratizar o acesso à internet e promover a inclusão social. O objetivo é garantir às pessoas que moram nessas localidades condições para contratar um plano acessível de acesso à internet.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">11 - Como será a participação das empresas?</b>
            <div>
                <p id="fontConfigPerguntas" style="text-align: justify;">As empresas interessadas deverão se credenciar para participar do programa. Para isso, devem encaminhar um ofício para a Secretaria de Telecomunicações (Setel) do MCTIC demonstrando o interesse. No documento, a empresa deve indicar a localidade de interesse, demonstrar capacidade para atendê-la e apresentar proposta de atendimento indicando o serviço a ser ofertado, a tecnologia, velocidade, cronograma e estimativa de preço, além de comprovar que atende aos requisitos previstos pela Agência Nacional de Telecomunicações (Anatel) para a prestação do Serviço de Comunicação Multimídia.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">12 - Como os municípios podem participar?</b>
            <div>
                <p id="fontConfigPerguntas" style="text-align: justify;">Para participar do programa, os municípios deverão encaminhar um ofício ao MCTIC pedindo a adesão ao programa, com um telefone e email para contato. A partir desse ofício, o ministério vai enviar aos municípios um modelo de termo de adesão, que deverá ser preenchido com a indicação das localidades para atendimento. Esse termo também define as obrigações do município, como a garantia de infraestrutura básica para a instalação dos equipamentos de conexão e a aprovação pelas Câmaras Municipais da dispensa da cobrança de Imposto Sobre Serviços (ISS).</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">13 - Como o Internet para Todos vai funcionar?</b>
            <div>
                <p id="fontConfigPerguntas" style="font-weight: 400; text-align: justify;">O programa será implementado a partir de acordos, intermediados pelo MCTIC, entre municípios e empresas credenciadas.</p>
                <p id="fontConfigPerguntas" style="font-weight: 400; text-align: justify;">O ministério vai acompanhar as parcerias entre municípios e empresas para garantir a oferta do serviço de banda larga nas localidades.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">14 - As empresas de telecomunicações participantes vão ter algum benefício?</b>
            <div>
                <p id="fontConfigPerguntas" style="text-align: justify;">Além do Imposto Sobre Serviços (ISS), as operações serão isentas do Imposto sobre Circulação de Mercadorias e Serviços (ICMS) e contarão com infraestrutura local, garantida pelos municípios.</p>
            </div>
        </li>
        <li> <b id="TituloPerguntas">15 - A conexão será feita por qual tipo de tecnologia?</b>
            <div>
                <p id="fontConfigPerguntas" style="font-weight: 400; text-align: justify;">As conexões serão feitas por diversas tecnologias, a depender da empresa credenciada: rádio, fibra óptica ou também por satélite.</p>
                <p id="fontConfigPerguntas" style="font-weight: 400; text-align: justify;">O Satélite Geoestacionário de Defesa e Comunicações Estratégicas (SGDC), operado pela Telebrás e em órbita desde maio de 2017,&nbsp;será utilizado para prover conexão especialmente nas regiões mais remotas.</p>
            </div>
        </li>
    </ul>
</div>
<br>
<br>
<br>