<div class="container">
  <div class="d-block py-5">
    <div class="thumbText w-100">
      <img class="configImagem" src="./img/banner_01.png" alt="thumb01">
    </div>
  </div>





  <div class="d-block fontes">
    <div class="boxInfo w-100">
      <h2 class="d-inline-block" id="configFont">
			<span id="configFontF">O que é o programa?</span>
		</h2>
    </div>

    <p id="fontes" style="text-align: justify;">Internet para Todos é conexão em banda larga a preços reduzidos para democratizar o acesso à internet buscando a inclusão social.</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>
    <p id="fontes" style="text-align: justify;">O programa Internet para Todos é uma ampliação do GESAC, Programa Governo Eletrônico – Serviço de Atendimento ao Cidadão, responsável por conectar à internet escolas, hospitais, postos de saúde, aldeias indígenas, postos de fronteira e quilombos,
      em áreas remotas que não têm outro meio de serem inseridas no mundo das tecnologias da informação e comunicação.</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>
    <p id="fontes" style="text-align: justify;">O programa Internet para Todos tem por objetivo prover conexão às pessoas que vivem em uma localidade de um município. No Brasil há mais de 30.000 localidades sem a conexão ou com prestação inadequada de serviço de acesso à internet.</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>
    <p id="fontes" style="text-align: justify;">O Internet para Todos será implementado a partir de parcerias entre o MCTIC e municípios e executado por empresas credenciadas junto ao ministério.</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>
    <p id="fontes" style="text-align: justify;">Para participar do programa, os municípios deverão firmar um termo de adesão com o MCTIC, no qual indicarão as localidades para atendimento. Esse termo define as obrigações do município, como a garantia de infraestrutura básica para a instalação dos
      equipamentos de conexão e a aprovação pelas Câmaras Municipais da dispensa da cobrança de Imposto Sobre Serviços (ISS).</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>
    <p id="fontes" style="text-align: justify;">Os moradores das localidades indicadas pelos municípios <span id="OBJ_PREFIX_DWT509_com_zimbra_date" class="Object"><span id="OBJ_PREFIX_DWT518_com_zimbra_date" class="Object"><span id="OBJ_PREFIX_DWT527_com_zimbra_date" class="Object">ter</span></span>
      </span>ão a oportunidade de contratar serviços de conexão à internet oferecidos por empresas prestadoras de serviços de telecomunicações, que serão credenciadas pelo MCTIC a partir<span id="OBJ_PREFIX_DWT499_com_zimbra_date" class="Object"> de janeiro</span>      de 2018. Essas empresas poderão prover elas mesmas os serviços ou trabalhar em parceria com provedores locais para a sua efetiva disponibilidade.</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>
    <p id="fontes" style="text-align: justify;">O Internet para Todos não oferecerá o serviço gratuito, mas a preços reduzidos, pois a empresa tem um ônus para manter a infraestrutura de conexão. Entretanto, a empresa que atender essas localidades, por&nbsp;<span id="OBJ_PREFIX_DWT501_com_zimbra_date"
        class="Object"><span id="OBJ_PREFIX_DWT511_com_zimbra_date" class="Object"><span id="OBJ_PREFIX_DWT520_com_zimbra_date" class="Object"><span id="OBJ_PREFIX_DWT529_com_zimbra_date" class="Object">ter</span></span>
      </span>
      </span>&nbsp;as garantias e isenções oferecidas pelo Programa, poderá oferecer um produto com um preço menor.</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>
    <p id="fontes" style="text-align: justify;">Como parte do esforço do governo federal para ampliar o acesso à internet em banda larga no país, a Telebrás, por meio do Satélite Geoestacionário de Defesa e Comunicações Estratégicas (SGDC), atuará na implantação do Internet para Todos.</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>
    <p id="fontes" style="text-align: justify;">O satélite será utilizado para prover conexão, especialmente nas regiões mais remotas. Lançado em <span id="OBJ_PREFIX_DWT502_com_zimbra_date" class="Object"><span id="OBJ_PREFIX_DWT512_com_zimbra_date" class="Object"><span id="OBJ_PREFIX_DWT521_com_zimbra_date" class="Object"><span id="OBJ_PREFIX_DWT530_com_zimbra_date" class="Object">4 de maio</span></span>
      </span>
      </span> de 2017, o equipamento tem capacidade para cobrir todo o território brasileiro. É o primeiro satélite geoestacionário brasileiro de uso civil e militar. O projeto é fruto de uma parceria entre o MCTIC e o Ministério da Defesa, com investimentos
      estimados em R$ 2,7 bilhões. A previsão é que ele seja operacional por 18 anos.</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>
    <p id="fontes" style="text-align: justify;">A lista publicada no site serve como referência para as empresas que queiram se credenciar. A inclusão de municípios e mesmo a definição de localidades a serem atendidas serão feitas pelos próprios municípios na sua adesão ao programa.</p>
    <p id="fontes" style="text-align: justify;">&nbsp;</p>

        <p style="text-align: justify;"><img style="width: 186px;" title="governo_federal" src="/portal_ipt/export/sites/portal_ipt/arquivos/imagens/logos/governo_federal.png" alt="" height="74" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img style="width: 159px;" title="gesac" src="/portal_ipt/export/sites/portal_ipt/arquivos/imagens/logos/gesac.jpg"
        alt="" height="61" />&nbsp; &nbsp; &nbsp;<img style="width: 241px;" title="telebras" src="/portal_ipt/export/sites/portal_ipt/arquivos/imagens/logos/telebras.png" alt="" height="61" /></p>
  </div>

</div>
</div>
</div>
